.DS_Store
Package.resolved
/.build
/Packages
/*.xcodeproj
/*.xcworkspace
/Test/Results.md
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
*.pyc
SwiftInterpreterBinary.xcframework
SwiftInterpreterLocalBinary.xcframework
