# Test Results

| Legend |  |
|:------:|:-------:|
| ✅ | Passed |
| ❗️ | Failed |

### Example
| Result | Test Name | Time |
|:------:|:-------:|:-------:|
| ❗️ |testAnotherOne1|0.0|0.0|
| ❗️ |testAnotherOne2|0.0|0.0|
| ✅ |testSomething|0.0|0.0|
