# Test Results

| Legend |  |
|:------:|:-------:|
| ✅ | Passed |
| ❗️ | Failed |

### Array
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testArrayAppend1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend11|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend12|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend13|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend14|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend15|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend16|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayAppend9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayAppend.swift)|
| ❗️ |testArrayCombineStressTest|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayCombineStressTest.swift)|
| ❗️ |testArrayCopyByValue1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayCopyByValue.swift)|
| ❗️ |testArrayCopyByValue2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/ArrayCopyByValue.swift)|
| ✅ |testSimpleArray1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ✅ |testSimpleArray2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ✅ |testSimpleArray3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ✅ |testSimpleArray4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ✅ |testSimpleArray5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ✅ |testSimpleArray6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArray.swift)|
| ❗️ |testSimpleArrayJoins1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|
| ❗️ |testSimpleArrayJoins9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Array/SimpleArrayJoins.swift)|

### Boolean
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testBooleanAssignment1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanAssignment.swift)|
| ✅ |testBooleanAssignment2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanAssignment.swift)|
| ✅ |testBooleanAssignment3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanAssignment.swift)|
| ✅ |testBooleanAssignment4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanAssignment.swift)|
| ✅ |testBooleanLogic1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic11|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic12|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic13|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic14|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic15|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic16|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ✅ |testBooleanLogic9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanLogic.swift)|
| ❗️ |testBooleanWhileLoop|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Boolean/BooleanWhileLoop.swift)|

### Closures
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleClosure|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Closures/SimpleClosure.swift)|

### Comparisons
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testLessThanGreaterThan1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan11|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan12|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ❗️ |testLessThanGreaterThan13|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan14|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan15|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan16|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ❗️ |testLessThanGreaterThan17|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan18|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan19|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan20|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ❗️ |testLessThanGreaterThan21|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan22|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan23|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan24|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ❗️ |testLessThanGreaterThan25|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan26|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan27|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan28|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|
| ✅ |testLessThanGreaterThan9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Comparisons/LessThanGreaterThan.swift)|

### DeclarationOrder
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testFunctionDeclarationOrder1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/FunctionDeclarationOrder.swift)|
| ❗️ |testFunctionDeclarationOrder2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/FunctionDeclarationOrder.swift)|
| ❗️ |testFunctionDeclarationOrder3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/FunctionDeclarationOrder.swift)|
| ✅ |testVariableDeclarationOrder1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/VariableDeclarationOrder.swift)|
| ❗️ |testVariableDeclarationOrder2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/VariableDeclarationOrder.swift)|
| ❗️ |testVariableDeclarationOrder3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclarationOrder/VariableDeclarationOrder.swift)|

### DeclareWithType
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testSimpleDeclareWithType1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclareWithType/SimpleDeclareWithType.swift)|
| ❗️ |testSimpleDeclareWithType2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclareWithType/SimpleDeclareWithType.swift)|
| ❗️ |testSimpleDeclareWithType3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/DeclareWithType/SimpleDeclareWithType.swift)|

### Encapsulation
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testLocalVariables1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Encapsulation/LocalVariables.swift)|
| ❗️ |testLocalVariables2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Encapsulation/LocalVariables.swift)|
| ❗️ |testLocalVariables3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Encapsulation/LocalVariables.swift)|

### Equality
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testBasicEquality1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality11|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality12|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality13|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality14|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality15|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality16|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality17|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality18|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality19|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality20|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testBasicEquality21|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ✅ |testBasicEquality9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/BasicEquality.swift)|
| ❗️ |testLessObviousEquality1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|
| ❗️ |testLessObviousEquality9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Equality/LessObviousEquality.swift)|

### Extensions
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleExtension1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Extensions/SimpleExtension.swift)|
| ✅ |testSimpleExtension2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Extensions/SimpleExtension.swift)|
| ❗️ |testSimpleExtension3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Extensions/SimpleExtension.swift)|
| ✅ |testSimpleExtension4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Extensions/SimpleExtension.swift)|
| ❗️ |testSimpleExtension5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Extensions/SimpleExtension.swift)|

### FunctionalProgramming
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testFirstClassFunction1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/FunctionalProgramming/FirstClassFunction.swift)|
| ❗️ |testFirstClassFunction2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/FunctionalProgramming/FirstClassFunction.swift)|

### Generic
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testAllowMultipleConcreteTypesForSepparateGenerics1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/AllowMultipleConcreteTypesForSepparateGenerics.swift)|
| ❗️ |testAllowMultipleConcreteTypesForSepparateGenerics2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/AllowMultipleConcreteTypesForSepparateGenerics.swift)|
| ❗️ |testAllowMultipleConcreteTypesForSepparateGenerics3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/AllowMultipleConcreteTypesForSepparateGenerics.swift)|
| ❗️ |testDisallowMultipleConcreteTypesForAGeneric1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/DisallowMultipleConcreteTypesForAGeneric.swift)|
| ❗️ |testDisallowMultipleConcreteTypesForAGeneric2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/DisallowMultipleConcreteTypesForAGeneric.swift)|
| ❗️ |testDisallowMultipleConcreteTypesForAGeneric3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/DisallowMultipleConcreteTypesForAGeneric.swift)|
| ❗️ |testDisallowMultipleConcreteTypesForAGeneric4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/DisallowMultipleConcreteTypesForAGeneric.swift)|
| ❗️ |testDisallowMultipleConcreteTypesForAGeneric5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/DisallowMultipleConcreteTypesForAGeneric.swift)|
| ❗️ |testGenericFunc|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/GenericFunc.swift)|
| ❗️ |testSimpleGeneric1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ✅ |testSimpleGeneric3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|
| ❗️ |testSimpleGeneric9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Generic/SimpleGeneric.swift)|

### IfBlock
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleIf1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ✅ |testSimpleIf2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ✅ |testSimpleIf3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ❗️ |testSimpleIf4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ❗️ |testSimpleIf5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ❗️ |testSimpleIf6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIf.swift)|
| ❗️ |testSimpleIfElse1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ❗️ |testSimpleIfElse2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ✅ |testSimpleIfElse3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ❗️ |testSimpleIfElse4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ❗️ |testSimpleIfElse5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ❗️ |testSimpleIfElse6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|
| ❗️ |testSimpleIfElse7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/IfBlock/SimpleIfElse.swift)|

### Import
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleImport|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Import/SimpleImport.swift)|

### Loops
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleArrayLoops|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Loops/SimpleArrayLoops.swift)|
| ❗️ |testSimpleLoops1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Loops/SimpleLoops.swift)|
| ❗️ |testSimpleLoops2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Loops/SimpleLoops.swift)|

### Modulus
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testSimpleModulus1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ✅ |testSimpleModulus2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ✅ |testSimpleModulus3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ✅ |testSimpleModulus4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ❗️ |testSimpleModulus5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ❗️ |testSimpleModulus6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ❗️ |testSimpleModulus7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ❗️ |testSimpleModulus8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|
| ❗️ |testSimpleModulus9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Modulus/SimpleModulus.swift)|

### Recursion
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleRecursion1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Recursion/SimpleRecursion.swift)|
| ❗️ |testSimpleRecursion2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Recursion/SimpleRecursion.swift)|
| ✅ |testSimpleRecursion3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Recursion/SimpleRecursion.swift)|
| ❗️ |testSimpleRecursion4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Recursion/SimpleRecursion.swift)|
| ❗️ |testSimpleRecursion5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Recursion/SimpleRecursion.swift)|

### SimpleFunctionCall
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleFunctionCall1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCall.swift)|
| ❗️ |testSimpleFunctionCall2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCall.swift)|
| ❗️ |testSimpleFunctionCall3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCall.swift)|
| ❗️ |testSimpleFunctionCallWithArguments1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCallWithArguments.swift)|
| ❗️ |testSimpleFunctionCallWithArguments2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCallWithArguments.swift)|
| ❗️ |testSimpleFunctionCallWithArguments3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCallWithArguments.swift)|
| ❗️ |testSimpleFunctionCallWithArguments4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionCallWithArguments.swift)|
| ❗️ |testSimpleFunctionTypes1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|
| ❗️ |testSimpleFunctionTypes2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|
| ❗️ |testSimpleFunctionTypes3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|
| ❗️ |testSimpleFunctionTypes4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|
| ❗️ |testSimpleFunctionTypes5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|
| ❗️ |testSimpleFunctionTypes6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCall/SimpleFunctionTypes.swift)|

### SimpleFunctionCallToPassValues
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleFunctionCallToPassValues1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|
| ❗️ |testSimpleFunctionCallToPassValues2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|
| ❗️ |testSimpleFunctionCallToPassValues3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|
| ❗️ |testSimpleFunctionCallToPassValues4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|
| ❗️ |testSimpleFunctionCallToPassValues5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|
| ❗️ |testSimpleFunctionCallToPassValues6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleFunctionCallToPassValues/SimpleFunctionCallToPassValues.swift)|

### SimpleString
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testConcatenation|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleString/Concatenation.swift)|
| ✅ |testStringAssignment|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleString/StringAssignment.swift)|

### SimpleVariableChange
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testAddingToVariable1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/AddingToVariable.swift)|
| ✅ |testAddingToVariable2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/AddingToVariable.swift)|
| ✅ |testMultiplyingVariables1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/MultiplyingVariables.swift)|
| ✅ |testMultiplyingVariables2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/MultiplyingVariables.swift)|
| ✅ |testMultiplyingVariables3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/MultiplyingVariables.swift)|
| ❗️ |testPreventVariableShadowingFunction1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/PreventVariableShadowingFunction.swift)|
| ❗️ |testPreventVariableShadowingFunction2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SimpleVariableChange/PreventVariableShadowingFunction.swift)|

### SortingFunction
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testBubbleSort|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/SortingFunction/BubbleSort.swift)|

### StressTest
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testBigLoop1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/StressTest/BigLoop.swift)|
| ❗️ |testBigLoop2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/StressTest/BigLoop.swift)|
| ❗️ |testDeepNest1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/StressTest/DeepNest.swift)|
| ✅ |testDeepNest2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/StressTest/DeepNest.swift)|
| ✅ |testDeepNest3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/StressTest/DeepNest.swift)|

### Switch
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testSimpleSwitch1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch10|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|
| ❗️ |testSimpleSwitch9|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Switch/SimpleSwitch.swift)|

### TernaryOperators
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testTernaryConditional1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional5|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional6|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional7|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|
| ✅ |testTernaryConditional8|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/TernaryOperators/TernaryConditional.swift)|

### UnaryOperators
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ✅ |testNotOperator1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/NotOperator.swift)|
| ✅ |testNotOperator2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/NotOperator.swift)|
| ✅ |testNotOperator3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/NotOperator.swift)|
| ✅ |testNotOperator4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/NotOperator.swift)|
| ✅ |testUnaryMinus1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryMinus.swift)|
| ✅ |testUnaryMinus2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryMinus.swift)|
| ✅ |testUnaryMinus3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryMinus.swift)|
| ✅ |testUnaryMinus4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryMinus.swift)|
| ❗️ |testUnaryPlus1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryPlus.swift)|
| ❗️ |testUnaryPlus2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryPlus.swift)|
| ❗️ |testUnaryPlus3|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryPlus.swift)|
| ❗️ |testUnaryPlus4|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/UnaryOperators/UnaryPlus.swift)|
