# Test Results

| Legend |  |
|:------:|:-------:|
| ✅ | Passed |
| ❗️ | Failed |

### Example
| Result | Test Name | Time | Code |
|:------:|:-------:|:-------:|:-------:|
| ❗️ |testAnotherOne1|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Example/AnotherOne.swift)|
| ❗️ |testAnotherOne2|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Example/AnotherOne.swift)|
| ❗️ |testSomething|0.0|0.0|[View Code](https://github.com/App-Maker-Software/SwiftInterpreter/blob/main/Tests/SwiftInterpreterTests/CodeTests/Example/Something.swift)|
