# Test Results

| Legend |  |
|:------:|:-------:|
| ✅ | Passed |
| ❗️ | Failed |

### SwiftInterpreterTests
| Result | Test Name | Time |
|:------:|:-------:|:-------:|
| ✅ |testExample|0.0|0.0|
| ❗️ |testExample2|0.0|0.0|

### SwiftInterpreterTests2
| Result | Test Name | Time |
|:------:|:-------:|:-------:|
| ✅ |testExample2_a|0.0|0.0|
